$primaryColor: #ec3116;
$secondaryColor: #c71c1c;
$fontColor: #e1ebe3;
$hoverColor: #083c4d;

@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,400;0,600;1,200&display=swap");

$mulish: "Mulish",
sans-serif;

body {
    padding:0;
    margin:0;
    background-color: $secondaryColor;
    font-family: $mulish;
    color: $fontColor;
    height: 100vh;
    text-rendering: optimizeLegibility;
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@mixin font-size($sizeValue: 1.6) {
    font-size: ($sizeValue * 10) + px;
    font-size: $sizeValue + rem;
}

p {
    @include font-size(2);
}

.btn { 
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid $primaryColor;
    padding: 14px 40px;
    color: $fontColor;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    a{
        text-decoration: none;
        color: $fontColor;
    }
}

.btn:hover {
    color: $fontColor;
    background-color:$primaryColor;
    text-decoration: none;
}

.search{
    @include font-size(1.25);
    width: 200px;
}