@import '../utils/style.scss';

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 75vw;
    height: 90vh;
    padding: 10px;  
}

.aboutSpan {
    padding: 15px; 
}



