.navWrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 7vh;
}

.hamburgerWrapper {
    width: 5vw;
    padding: 15px;
    position: relative;
    margin: 5px;
}

.navHeader{
    width: 90vw;
    padding: 15px;
    display: flex;
    justify-content: center;
    position: relative;
}

.listWrapper{
    width: 95vw;
    padding: 15px;
    display: flex;
    justify-content: center;
    position: relative;
}