@import "react-alice-carousel/lib/scss/alice-carousel.scss";
@import '../utils/style.scss';

.moviesList{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.alice-carousel{
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 80vw;
    border: 2px solid;
    .alice-carousel__wrapper{
        width: 80vw;
        max-height: 45vh;
    }
}


.moviesCarousel{
    max-width: 250px;
    max-height: 25vh;
}

.titleCarousel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    text-align: center;
    @include font-size(1.7);
}


