@import "react-alice-carousel/lib/scss/alice-carousel.scss";


.moviesList{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.alice-carousel{
    max-width: 80vw;
}

.alice-carousel__stage-item{
    max-width: 250px;
    
}